@fontface
{
  font-family: 'eczarregular';
  src: url('fonts/eczar/eczar-regular-webfont.woff2') format('woff2'),
       url('fonts/eczar/eczar-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

  font-family: 'charlesliebertblackfontRg';
  src: url('fonts/charlesliebertblackfont/charlesliebertblackfont-black-webfont.woff2') format('woff2'),
       url('fonts/charlesliebertblackfont/charlesliebertblackfont-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body
{
  font-family: 'eczarregular';
}

tittle
{
  display: none;
}

#mainsite img
{
  width: 100%;
  height: 100%;
}

#events
{
  display: none;
}

#youtube
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

a
{
  color: white;
  text-decoration: none;
}

a:hover
{
  color: red;
}

#footer
{
  height: 200px;
  line-height: 30px;
}

.container
{
  max-width: 800px;
  margin: 0 auto;
}

.column-a
{
  display: block;
  float: left;
  font-size: 20px;
}

h4
{
  color: white;
  font-family: 'charlesliebertblackfontRg';
  font-variant: small-caps;
  font-size: 50px;
  margin-bottom: 0;
}

.column-b
{
  display: block;
  float: right;
}

.column-b img
{
  margin-top: 75px;
  margin-right: 50px;
}

.column-b p
{
  font-family: 'eczarregular';
  color: white;
  font-size: 10px;
}
